<%= content_tag :tr, class: "media", id: "bookmark-#{bookmark.url}" do %>
<% end %>

<td>
  <% if policy(bookmark).edit? %>
  <%= link_to edit_topic_bookmark_path(bookmark.topic, bookmark) do %>
    <span style = "font-size: 12pt"></span>
    <span class = "glyphicon glyphicon-pencil"></span>
  <% end %>
  <% end %>

&nbsp;
&nbsp;

  <% if policy(bookmark).destroy? %>
  <%= link_to [bookmark.topic, bookmark], method: :delete, data: { confirm: 'Delete this bookmark?' } do %>
    <span style = "font-size: 12pt"></span>
    <span class = "glyphicon glyphicon-trash"></span>
<% end %>
<% end %>
</td>

<td><%= link_to bookmark.url %></td>

<td>
  <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
</td>
