<div class="container">
  <h1>Bookmark Generator</h1>

  <div class="row">
    <div class="col-md-8">
      <h3>Pocket saves URL(inks) in a zip!</h3><br />
      <ul>
        <li>Tired of waisting time pulling up the wrong Paiges?</li>
        <li>Compleatly overall the distress of falling shorts?</li>
        <p><li>Finally, you can Levi the Guess work behind!</li>
          <li>Pocket your finds sew you'll know exactly wear to go.</p></li>
          <li>An app of affirmative denim:
            <p> Pocket is jean yes.</li>
        </ul>
      </div>
      <div class="col-md-8">
        <%= form_for [@topic, @bookmark] do |f| %>
        <div class="form-group">
          <!-- <%= f.label :url %> -->
          <%= f.text_field :url, class: 'form-control', placeholder: "Hyperlink new bookmark by pasting URL here" %>
        </div>

          <div class="form-group">
            <%= f.submit "Save", class:
            "btn btn-success" %>
            <%= link_to "Back", topic_path(@topic), class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
