<!-- <h1>Topics#show</h1>
<p>Find me in app/views/topics/show.html.erb</p> -->
 <h1><%= @topic.title %></h1>
 <p><%= @topic.body %></p>

 <%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success' %>
 <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this topic?' } %>

 <div class="row">
   <div class="col-md-8">
     <p class="lead"><%= @topic.description %></p>

     <% @topic.topics.each do |topic| %>
       <div class="media">
         <div class="media-body">
           <h4 class="media-heading">
             <%= link_to topic.title, topic_topic_path(@topic, topic) %>
           </h4>

           <small>
             submitted <%= time_ago_in_words(topic.created_at) %> ago <br>
             <%= topic.comments.count %> Comments
           </small>
         </div>
       </div>
     <% end %>
   </div>

   <div class="col-md-4">
     <%= link_to "New Post", new_topic_topic_path(@topic), class: 'btn btn-success' %>
   </div>
 </div>
