<div class='col-md-8'>
  <span style = 'font-size:18pt'><strong>#<%= @topic.title %></strong></span>&nbsp;&nbsp;
    <%= link_to edit_topic_path do %>
      <span class='has-tooltip' data-toggle='tooltip' title='Edit Topic'>
        <span class = 'glyphicon glyphicon-pencil'></span>
    <% end %>
    &nbsp;
    <%= link_to @topic, method: :delete, data: { confirm: 'Are you sure you want to delete this topic?' } do %>
      <span class="has-tooltip" data-toggle="tooltip" title="Delete Topic">
          <span class="glyphicon glyphicon-trash"></span>
      </span>
    <% end %>
  </h2>

  <h4>
    <% if @bookmarks.present? %>
      <br />
      <%= render partial: 'bookmarks/bookmark', collection: @bookmarks, locals: { topic_id: @topic.id, bookmark: @bookmark} %>
    <% end %>
  </h4>
</div>
<div class = 'col-md-4'>
  <%= link_to "New Bookmark", new_topic_bookmark_path(@topic), class: 'btn btn-primary' %>
</div>
