<div class="row">
<div class-"col-md-10">

  <h1>Sign up</h1>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form must be completed before submitting.</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.text_field :email, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: "form-control"  %>
    </div>

    <%= f.submit "Sign Up", class: "btn btn-success"%>
    <% end %>
    
  </div>
</div>
