<br>
  <div class="row">
    <br>

      <!-- <br>
      <% if user_signed_in? %>
      <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-info" %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-info" %>
      <% else %>
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
      <br>
      <% end %>
    </div>
    <div class="col-md-10">
      <div class="row">
        <i><h5>Special thanks to Google, the inordinate number of Jean afficionados in the world with internet connection, and this application, filling yet another Pocket on the cargo shorts of my life (browsing history).</i></h5>
      </div>
    </div>
  </div>
</div>
</div> -->

<div class="container">
   <div class="jumbotron">
     <p class="text-center">G R E E T I N G S</p>
     <h1 class="text-center">It's Pocket, y'all.</h1>
     <br><p class="text-center">
       <% if user_signed_in? %>
         <%= link_to "Edit Profile", edit_user_registration_path, class: 'btn btn-info' %>
         <!-- <%= link_to "Sign Out", destroy_user_session_path, class: 'btn btn-info btn-lg' %> -->
         <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-info' %>

       <% else %>
         <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-info btn-lg" %>
         <%= link_to "Sign In", new_user_session_path, class: 'btn btn-info btn-lg' %>
       <% end %>
     </p>
   </div>
 </div>

 <div class="container">
   <div class="col-md-12">
       <h5>This seams to be the home page for Pocket.</h5>
       Shock it like Billie Jean. Mock it like Jean Girard.<br />
       Block it like Jean Béliveau. Knock it like Jean Pascal.<br />
       Sock it like Jean-Claude Van <i>Damme, son.</i><br />
       I mean, or don't. It's whatever, really.
     <h5>Make it yours.</h5>
   </div>
 </div>
